RewriteEngine On
# força /auth/login pro index
RewriteRule ^auth/login$ index.php [QSA,L]

# (resto das regras que você tinha)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
